.back {
    background-color: blue;
    color: white;
    font-size: large;
}

.fejlec {
    background-color: blue;
    height: 150px;
}

.fejlec_logo {
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 200px;
    float: left;
}

.fejlec_tabla {
    margin-top: 25px;
    margin-bottom: 25px;
    float: right;
    margin-right: 20%;
}

.fejlec_tabla_cella {
    border: 1px solid black;
    width: 150px;
    height: 100px;
}

.kezdokep {
    margin-left: 2.5%;
    width: 95%;
    border: 10px solid black;
}